<div class="splash-navbar">
  <nav>
    <a href="/">
      <div class="pulse">
        <span></span>
        Glimmr
      </div>
    </a>
    <ul class="options pull-right">
      <li class="sign-up">
        <a href="/session/new">Get Started</a>
      </li>
      <li class="login">
        <a href="/session/new">Login</a>
      </li>
    </ul>
  </nav>
</div>