<header id="splashnav">
  <div class="inner">
    <!-- <div class="logo">logo</div> -->
    <div class="logo">
        <div class="box">G</div>
        <div class="text"><span class="first">
          Glimmr
        </span></div>
    </div>
    <nav class='navigation'>
      <ul>
        <li><a class="welcome-link" href="#">Welcome</a></li>
        <li><a href="#" class="inspire-link">Inspiration</a></li>
        <li><a href="/users/new">Demo</a></li>
        <li><a href="/session/new">Sign In</a></li>
        <li><a id="start" href="/users/new">Get Started</a></li>
      </ul>
    </nav>
  </div>
</header>