<div class="splash-grid">
 <div class="splash-bucket" style="height: 850px; background-image: url(http://res.cloudinary.com/dcqvnxgiy/image/upload/v1456518625/15.jpg);">
    <div class="centered">
      <h1>The home for all your photos.</h1>
      <a href="/session/new" class="action-butt">Welcome Home</a>
    </div>
  </div>
  <div class="splash-bucket inspire-bucket" style="height: 850px; background-image: url(http://res.cloudinary.com/dcqvnxgiy/image/upload/v1456344713/7.jpg);">
    <div class="centered">
      <h1>Draw Inspiration.</h1>
      <a href="#" class="action-butt inspire-butt">Inspire me</a>
    </div>
  </div>
  <div class="splash-bucket" style="height: 850px; background-image: url(http://res.cloudinary.com/dcqvnxgiy/image/upload/v1456645652/z8Bu8FZ_rcqmco.gif);">
    <div class="centered">
      <h1>Share with the world.</h1>
    </div>
  </div>
</div>