
<div id="form-main">
  <div id="form-div">
    <form class="form" id="form1" action="<%= session_url %>" method="post">
      <%= auth_token %>



      <p class="email">
        <input name="user[email]" type="text" class="validate[required,custom[email]] feedback-input" id="email" placeholder="Email" />
      </p>

      <p class="password">
        <input name="user[password]" type="password" class="feedback-input" id="password" placeholder="Password" />
      </p>


      <div class="submit">
        <input type="submit" value="sign in" id="button-blue"/>
        <div class="ease"></div>
      </div>
    </form>
  </div>


