 <form class='auth-form' action="<%= users_url %>" method="post">
  <%= auth_token %>

  <div class='auth'>
    <h2>or <a href='/session/new'>sign in</a></h2>
    <div class='auth-div'>

      <label>
        <input type="text" name="user[email]" value="email">
      </label>

      <label>
        <input type="text" name="user[username]" value="username">
      </label>

      <label>
        <input type="password" name="user[password]" value="password">
      </label>

      <input type='submit' value='sign up' />

    </div>
  <div>

</form>