$red: #E1332D;
$white: #fff;

.buttons {
  display: table;
  height: 100%;
  width: 100%;
}



.btn {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size:16px;
  font-weight: 400;
  line-height: 45px;
  margin: 0 auto 2em;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  width: 100%;

  @media(min-width: 400px) {
    display: inline-block;
    margin-right: 2.5em;

    &:nth-of-type(even) {
      margin-right: 0;
    }
  }

  @media(min-width: 600px) {

    &:nth-of-type(even) {
      margin-right: 2.5em;
    }

    &:nth-of-type(5) {
      margin-right: 0;
    }

  }

  &:hover { text-decoration: none; }

}

.btn-1 {
  background: black;
  font-weight: 100;

  svg {
    height: 45px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  rect {
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-dasharray: 422, 0;
  }
}

.btn-1:hover {
  background: black;
  font-weight: 900;
  letter-spacing: 1px;

  rect {
    stroke-width: 5;
    stroke-dasharray: 15, 310;
    stroke-dashoffset: 48;
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
  }
}

.btn-3 {
  background: lighten($red, 3%);
  border: 1px solid darken($red, 4%);
  box-shadow: 0px 2px 0 darken($red, 5%), 2px 4px 6px darken($red, 2%);
  font-weight: 900;
  letter-spacing: 1px;
  transition: all 150ms linear;
}

.btn-3:hover {
  background: darken($red, 1.5%);
  border: 1px solid rgba(#000, .05);
  box-shadow: 1px 1px 2px rgba(#fff, .2);
  color: lighten($red, 18%);
  text-decoration: none;
  text-shadow: -1px -1px 0 darken($red, 9.5%);
  transition: all 250ms linear;
}