@import "bourbon";




/*.comment-section {

  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: row;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  display: -webkit-box;
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  background: white;
}*/

$ptsans: "PT Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
$placeholder: #ced2db;
$text-color: #555f77;
$links: #0095ff;

html, body {
  background-color: #f0f2fa;
  font-family: $ptsans;
  color: $text-color;
  -webkit-font-smoothing: antialiased;
}

input, textarea {
  outline: none;
  border: none;
  display: block;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-family: $ptsans;
  font-size: rem(16);
  color: $text-color;
  @include placeholder {
    color: $placeholder;
  }
}

p {
  line-height: rem(21);
}

.comments {
  margin: rem(40) auto 0;
  max-width: 650px;
  padding: 0 rem(20);
}

.comment-wrap {
  margin-bottom: rem(20);
  display: table;
  width: 100%;
  min-height: rem(100);
}

.photo {

  padding-top: rem(10);
  display: table-cell;
  /*width: 75px;*/
  padding-right: 30px;


  .avatar {
    width: 50px;
    height: 50px;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2), 1px 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-size: contain;
    background-position: center;
  }

  .avatar:hover{
    cursor: pointer;
  }
}

.comment-block {
  padding: rem(16);
  min-width: 550px;
  background-color: #fff;
  display: table-cell;
  vertical-align: top;
  border-radius: rem(3);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.08);

  textarea {
    width: 100%;
    height: 100px;
    resize: none;
  }
}

.comment-text {
  margin-bottom: rem(20);
}

.bottom-comment {
  color: #acb4c2;
  font-size: 12px;
}

.comment-date {
  float: left;
}


.bottom-comment input[type=submit] {
  display: inline;
  float: right;
  text-decoration: none;
  /*padding: 25px;*/
  transition: 0.3s all;
  background: none;
  border: none;
  &:focus, &:visited {
    text-decoration: none;
  };
}


.bottom-comment input[type=submit]:hover {
  color: $links;
}


.comment-actions {
  float: right;

  li {
    display: inline;
    margin: -2px;
    cursor: pointer;

    &.delete-comment {
      padding-right: rem(12);
      /*border-right: 1px solid #e1e5eb;*/
    }

    &.reply {

      padding-right: rem(12);
    }

    &:hover {
      color: $links;
      //text-decoration: underline;
    }
  }
}

