$lightblue: #008AAD;

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

::selection {
  background: #000;
  color: #aaf;
}

ul, li, h1, h2, h3, h4, h5, h6, p, a, .logo {
  font-family: "Lato","Verdana",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  margin: 0;
  padding: 0;
}




#splashnav {
  position: fixed;
  width: 100%;
  padding-top: 10px;
  top: 0;
  background: #000;
  transition: 0.7s all;
  z-index: 100;
}

li {
  list-style: none;
}

nav {
  overflow: hidden;
}

.navigation ul {
  float: left;
  margin-top: 10px;
  margin-left: 350px;
}

.navigation li {
  display: inline;
  float: left;
}

.navigation a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 25px;
  transition: 0.3s all;
}

.navigation a:hover {
  background: $lightblue;
  text-decoration: none;
  color: #fff;
}

#start:hover {
  background: green;
  text-decoration: none;
  color: #fff;
}

.logo {
  float: left;
  color: #fff;
  font-size: 50px;
  line-height: 50px;
  transition: 0.7s all;
  margin-left: 50px;
}

.alt-header .logo {
  color: #000;
}

body.header-fixed .logo {
  font-size: 30px;
}

.alternate {
  background: #000;
  color: #fff;
}

section .inner {
  padding-top: 200px;
}
