#profilenav {
  width: 100%;
  padding-top:10px;
  padding-bottom:10px;
  background: #101010;
  transition: 0.7s all;
  z-index: 10;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;

}

.test{
  position:relative;
  width:624px;
  padding-top:10px;
  padding-bottom:10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-navigation {
  position:relative;
  width:480px;
  min-width: 480px;
  padding-top:10px;
  padding-bottom:10px;
  display: flex;
  align-items: center;
  justify-content: center;

  ul {
    li {
      &:hover {
          background:rgba(255,255,255,.3);
      }

      display:inline-block;
      list-style:none;
      width:160px;
      text-align:center;
      font-family: "Lato",sans-serif;
      border: 1px dashed rgba(255,255,255, 0);
      color:#fff;
      padding:10px 0 10px 0;
      margin:-1px 1px -1px -1px;
      cursor:pointer;
      transition:all .5s;
      -webkit-transition:all .3s;
    }
  }
  &:focus, &:visited {
    color: #fff;
    text-decoration: none;
  };
}

.profile-navigation ul{
  /*border: 1px solid #fff;*/
  position:relative;
  top: 5px;
  width:100%;
  padding:0;
  z-index:10;
}

.profile-navigation div{
  position:absolute;
  left:0;
  top:16px;
  background: grey;
  width:162px;
  height:40px;
  z-index:99;
}

.active{
  color:rgba(55, 186, 177, 1);
}