.user-cover {

  height: 350px;
  width: 100%;
  max-width: 100%;
  background-position: center;

}

.user-pic {

  border-radius: 50%;
  width: 120px;
  height: 120px;
  z-index: 20;
  position: relative;
  background-position: center;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2), 1px 1px 2px rgba(0, 0, 0, 0.1);
}


.user-info {
  padding-top: 55px;
  padding-left: 90px;
  color: white;
  letter-spacing: .02em;
  text-shadow:
    2px 2px 1px #2c2c2c,
    1px 1px 2px rgba(0, 0, 0, 0.2);

}

.profile-username {
  letter-spacing: .05em;
  text-shadow:
    4px 4px 3px #2c2c2c,
    7px 7px 4px rgba(0, 0, 0, 0.2);

}

.profile-summary-container {
  height: 100%;
  min-height: 500px;
  width: 100%;
  background: rgb(232, 232, 232);
  display:flex;
  justify-content: flex;
  /*padding-top: 15px;*/
  /*padding-bottom: 30px;*/
}

.profile-summary {
  position: relative;
  /*left:0.5%;*/
  width: 100%;
  min-width: 1000px;
  box-sizing: border-box;
  vertical-align: top;
  /*border-radius: 15px;*/
  background: #19191B;
  padding-top:30px;
  padding-bottom:30px;
  padding-left:50px;
  padding-right:50px;
  color: #fff;


  font-family: "Lato","Verdana",sans-serif;
}

.profile-info {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  font-family: "Lato","Verdana",sans-serif;
}


#user-info-bullet {
  margin: 5px;
  font-size: .75em;
}

.follow-button-profile {
  font-size: 15px;
  margin-left: 20px;
  margin-bottom: 5px;
  background: red;
}

.user-summary {
  padding-top: 10px;
  padding-right: 125px;
  padding-left: 125px;
  margin-bottom: 32px;
}

.followed-user-list {
  background: white;
  padding-left: 0;
  margin-bottom: 0px;
  width: 100%;
}

.followed-user-banner {
  border-top: 1px solid white;
  color: white;
  list-style-type: none;
  height: 150px;
  padding-top: 52px;
  padding-left: 125px;
  font-size: 30px;

  -webkit-transition: all .4s ease;
     -moz-transition: all .4s ease;
       -o-transition: all .4s ease;
      -ms-transition: all .4s ease;
          transition: all .4s ease;
}

.followed-user-banner:hover {
  color: black;
  opacity: .7;
  cursor: pointer;

  -webkit-transition: all .4s ease;
     -moz-transition: all .4s ease;
       -o-transition: all .4s ease;
      -ms-transition: all .4s ease;
          transition: all .4s ease;
}

.upload-form-container {
  padding-left: 140px;
  margin-bottom: 50px;
  width: 100vw;
}

.create-photo-title {
  width: 550px;
}

.create-photo-description {
  width: 550px;
}

.followee-pic {
  border-radius: 100%;
  width: 140px;
  height: 140px;
  z-index: 20;
  position: relative;
  background-position: center;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.6), 2px 2px 3px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  letter-spacing: .02em;
  transition: opacity .4s ease-in-out;
  -moz-transition: opacity .4s ease-in-out;
  -webkit-transition: opacity .4s ease-in-out;

}

.follow-thumb {
  /*-webkit-box-flex: auto;*/
  /*-ms-flex: auto;*/
  flex: auto;

  width: 140px;
  height: 240px;

  z-index: 20;
  padding: 10px;
  overflow: hidden;
  text-align: center;
  /*margin: 0 auto;*/
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.follow-thumb img {
  width: 100%;
  height: 100%;
  border-radius: 150px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.follow-grid {
  font-size: 0;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: row;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  display: -webkit-box;
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: #EFEFEF;
  /*min-height: 400px;*/

}

.followee-container {
  display: flex;
  justify-content:center;
  align-content:center;
  padding-left: 20px;
  padding-right: 20px;

  /*min-width: 850px;*/
}


.followee-pic {
  border-radius: 50%;
  width: 140px;
  height: 140px;
  z-index: 20;
  position: relative;
  background-position: center;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.6), 2px 2px 3px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  letter-spacing: .02em;
  transition: opacity .4s ease-in-out;
  -moz-transition: opacity .4s ease-in-out;
  -webkit-transition: opacity .4s ease-in-out;

}


.followee-pic:hover {
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  background-position: top top;
  -webkit-filter: grayscale(0.6) blur(2px);
  filter: grayscale(0.4) blur(2px);
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  -webkit-transition-duration: 0.8s;
  transition-duration: 0.8s;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;

}

.followee-text {
  visibility: hidden;
  text-align: center;
  font-color: white;
  font-size: 15px;
  text-shadow:
  3px 2px 1.5px rgba(0, 0, 0, 0.8);
  text-decoration:none;

}

.uploader-text {
  text-align: center;
  font-color: white;
  font-size: 20px;
  text-shadow:
  4px 3px 1.5px rgba(0, 0, 0, 0.8);
  text-decoration:none;

}

.followee-pic:hover .followee-text {
  visibility: visible;
  text-decoration:none;

}

.uploader-pic:hover .uploader-text {
  visibility: visible;
  text-decoration:none;

}

.uploader-container {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    padding-left: 300px;
    padding-right: 300px;
     min-width: 850px;
     width: 100%;
     height: 100%;
    font-family:Verdana, sans-serif;
  }

.uploader-pic {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  z-index: 20;
  margin: 0 auto;

  background-position: center;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.6), 2px 2px 3px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  letter-spacing: .02em;
  transition: opacity .4s ease-in-out;
  -moz-transition: opacity .4s ease-in-out;
  -webkit-transition: opacity .4s ease-in-out;

}

.self-uploader-pic {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  z-index: 20;
  margin: 0 auto;

  background-position: center;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.6), 2px 2px 3px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  letter-spacing: .02em;
}

.uploader-username {
  letter-spacing: .05em;
  padding-top: 20px;
  padding-bottom: 8px;
  text-shadow:
    2px 2px 1px rgba(0, 0, 0, 0.2);
  font-size: 19px;

  font-weight: 500;
  text-align: center;
}

.uploader-title {

  letter-spacing: .05em;
  padding-top: 20px;
  padding-bottom: 8px;
  text-shadow:
    2px 2px 1px rgba(0, 0, 0, 0.2);
  font-size: 30px;

  font-weight: 600;
  text-align: center;
}

.uploader-description {
  letter-spacing: .05em;
  padding-top: 8px;
  padding-bottom: 8px;
  text-shadow:
    2px 2px 1px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  /*  font-family: 'Proxima Nova', 'helvetica neue', helvetica, arial, sans-serif;*/
  font-weight: 400;
  text-align: center;
}

.uploader-pic:hover {
  cursor: pointer;
  opacity: .6;
  -webkit-transition: all 0.5s ease-in-out;
     -moz-transition: all 0.5s ease-in-out;
       -o-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;
}


