.user-cover {

  height: 475px;
  width: 100%;
  max-width: 100%;
  background-position: center;

}

.user-pic {

  border-radius: 50%;
  width: 160px;
  height: 160px;
  z-index: 20;
  position: relative;
  background-position: center;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2), 1px 1px 2px rgba(0, 0, 0, 0.1);
}


.user-info {
  padding-top: 55px;
  padding-left: 90px;
  color: white;
  letter-spacing: .02em;
  text-shadow:
    2px 2px 1px #2c2c2c,
    1px 1px 2px rgba(0, 0, 0, 0.2);

}

.profile-username {
  letter-spacing: .05em;
  text-shadow:
    4px 4px 3px #2c2c2c,
    7px 7px 4px rgba(0, 0, 0, 0.2);

}

.profile-summary-container {
  height: 100%;
  min-height: 500px;
  width: 100%;
  background: rgb(232, 232, 232);
  display:flex;
  justify-content: flex;
  /*padding-top: 15px;*/
  /*padding-bottom: 30px;*/
}

.profile-summary {
  position: relative;
  /*left:0.5%;*/
  width: 100%;
  min-width: 1000px;
  box-sizing: border-box;
  vertical-align: top;
  /*border-radius: 15px;*/
  background: #DDDDDE;
/*  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(http://res.cloudinary.com/dcqvnxgiy/image/upload/v1456954496/f5_mvy8h2.jpg);

  background-position: 14%;
  background-position-y: 66%;*/
  padding-top:40px;
  padding-bottom:30px;
  padding-left:200px;
  padding-right:200px;
  color: black;
  /*text-shadow: 2px 2px 3px #2c2c2c;*/


  font-family: "Lato",sans-serif;
}

.profile-info {
  color: black;
  font-size: 16px;
  font-weight: 400;
  font-family: "Lato",sans-serif;

}


#user-info-bullet {
  margin: 5px;
  font-size: .75em;
}

.follow-button-profile {
  font-size: 15px;
  margin-left: 20px;
  margin-bottom: 5px;
  background: red;
}

.user-summary {
  padding-top: 10px;
  padding-right: 125px;
  padding-left: 125px;
  margin-bottom: 32px;
}

.followed-user-list {
  background: white;
  padding-left: 0;
  margin-bottom: 0px;
  width: 100%;
}

.followed-user-banner {
  border-top: 1px solid white;
  color: white;
  list-style-type: none;
  height: 150px;
  padding-top: 52px;
  padding-left: 125px;
  font-size: 30px;

  -webkit-transition: all .4s ease;
     -moz-transition: all .4s ease;
       -o-transition: all .4s ease;
      -ms-transition: all .4s ease;
          transition: all .4s ease;
}

.followed-user-banner:hover {
  color: black;
  opacity: .7;
  cursor: pointer;

  -webkit-transition: all .4s ease;
     -moz-transition: all .4s ease;
       -o-transition: all .4s ease;
      -ms-transition: all .4s ease;
          transition: all .4s ease;
}

.upload-form-container {
  padding-left: 140px;
  margin-bottom: 50px;
  width: 100vw;
}

.create-photo-title {
  width: 550px;
}

.create-photo-description {
  width: 550px;
}

.followee-pic {
  border-radius: 100%;
  width: 140px;
  height: 140px;
  z-index: 20;
  position: relative;
  background-position: center;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.6), 2px 2px 3px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  letter-spacing: .02em;
  transition: opacity .4s ease-in-out;
  -moz-transition: opacity .4s ease-in-out;
  -webkit-transition: opacity .4s ease-in-out;

}

.follow-thumb {
  /*-webkit-box-flex: auto;*/
  /*-ms-flex: auto;*/
  flex: auto;
  border-radius: 15px;
  width: 230px;
  height: 230px;
  max-width: 290px;
  max-height: 290px;

  z-index: 20;
  /*padding: 10px;*/
  overflow: hidden;
  text-align: center;
  margin: 10px;
  position: relative;
  display: inline-block;
  cursor: pointer;
    user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
.follow-thumb img {
  position:absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /*height: 100%;*/
  /*border-radius: 150px;*/
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  -webkit-transition: all 0.85s ease 0.4s;
  transition: all 0.85s ease 0.4s;
}

.follow-thumb:hover img {
  filter: gray; /* IE6-9 */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  -webkit-transform:scale(1.15); /* Safari and Chrome */
    -moz-transform:scale(1.15); /* Firefox */
    -ms-transform:scale(1.15); /* IE 9 */
    -o-transform:scale(1.15); /* Opera */
     transform:scale(1.15);
}


.follow-grid {
  font-size: 0;
  /*display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: row;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  display: -webkit-box;
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;*/
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  padding-bottom: 2%;
  min-height: 300px;
  /*background-color: #19191B;*/
  background-image: url(http://res.cloudinary.com/dcqvnxgiy/image/upload/v1456954496/f5_mvy8h2.jpg);
  background-position: 90%;
  /*min-height: 400px;*/

}

.followee-container {
  display: flex;
  justify-content:center;
  align-content:center;
  padding-left: 20px;
  padding-right: 20px;

  /*min-width: 850px;*/
}


.followee-pic {
  border-radius: 50%;
  width: 140px;
  height: 140px;
  z-index: 20;
  position: relative;
  background-position: center;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.6), 2px 2px 3px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  letter-spacing: .02em;
  transition: opacity .4s ease-in-out;
  -moz-transition: opacity .4s ease-in-out;
  -webkit-transition: opacity .4s ease-in-out;

}


.followee-pic:hover {
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  background-position: top top;
  -webkit-filter: grayscale(0.6) blur(2px);
  filter: grayscale(0.4) blur(2px);
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  -webkit-transition-duration: 0.8s;
  transition-duration: 0.8s;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;

}

.followee-text {
  visibility: hidden;
  text-align: center;
  font-color: white;
  font-size: 15px;
  text-shadow:
  3px 2px 1.5px rgba(0, 0, 0, 0.8);
  text-decoration:none;

}

.uploader-text {
  text-align: center;
  font-color: white;
  font-size: 20px;
  text-shadow:
  4px 3px 1.5px rgba(0, 0, 0, 0.8);
  text-decoration:none;

  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.followee-pic:hover .followee-text {
  visibility: visible;
  text-decoration:none;

}

.uploader-pic:hover .uploader-text {
  visibility: visible;
  text-decoration:none;

}

.uploader-container {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    padding-left: 50px;
    padding-right: 50px;
     min-width: 450px;
     width: 50%;
     height: 100%;
    font-family:"Helvetica",sans-serif;
  }

.uploader-pic {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  z-index: 20;


  background-position: center;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.6), 2px 2px 3px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  letter-spacing: .02em;
  transition: opacity .4s ease-in-out;
  -moz-transition: opacity .4s ease-in-out;
  -webkit-transition: opacity .4s ease-in-out;

}

.self-uploader-pic {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  z-index: 20;


  background-position: center;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.6), 2px 2px 3px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  letter-spacing: .02em;
}

.uploader-username {
  letter-spacing: .05em;
  padding-top: 20px;
  display: inline-block;
  width: 150px;
  padding-bottom: 8px;
  text-shadow:
    2px 2px 1px rgba(0, 0, 0, 0.2);
  font-size: 19px;
  color:white;
  font-weight: 300;
  /*text-align: center;*/

  transition: 0.3s all ease-in-out;
}

.uploader-username:hover {
  text-decoration: none;
    color: #008AAD;
    cursor: pointer;
}

.uploader-title {

  letter-spacing: .05em;
  padding-top: 20px;
  padding-bottom: 8px;
  text-shadow:
    2px 2px 1px rgba(0, 0, 0, 0.2);
  font-size: 30px;
  color:white;
  font-weight: 400;
  /*text-align: center;*/

}

.uploader-description {
  letter-spacing: .05em;
  padding-top: 8px;
  padding-bottom: 8px;
  text-shadow:
    2px 2px 1px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  /*  font-family: 'Proxima Nova', 'helvetica neue', helvetica, arial, sans-serif;*/
  font-weight: 200;
  /*text-align: center;*/
  color:white;

}

.uploader-pic:hover {
  cursor: pointer;
  opacity: .6;
  -webkit-transition: all 0.5s ease-in-out;
     -moz-transition: all 0.5s ease-in-out;
       -o-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;
}

.follow-button-container {
/*    display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;*/
  /*padding-left: 50px;
  padding-right: 50px;*/
   min-width: 250px;
   width: 250px;
   height: 100%;
  font-family: "Lato",sans-serif;
}

.follow-butt {
  -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  display: inline-block;
  margin: 20px auto;
  max-width: 190px;
  text-decoration: none;
  border-radius: 4px;
  font-size: 16px;
  padding: 20px 30px;
  color: white;
  box-shadow: white 0 0px 0px 2px inset;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;


  &:focus, &:visited {
    color: white;
    text-decoration: none;
  };
}

.go-unfollow:hover {
  color: rgba(255, 255, 255, 0.85);
  box-shadow: rgba(218, 6, 6, 0.3) 0 0px 0px 40px inset;
  text-decoration: none;
  cursor: pointer;
}

.go-follow:hover {
  color: rgba(255, 255, 255, 0.85);
  box-shadow: rgba(34, 148, 40, 0.3) 0 0px 0px 40px inset;
  text-decoration: none;
  cursor: pointer;
}




