<div class="foot">
      <ul class ="foot-list">
        <li class="foot-li"><a href="https://github.com/joshhwang1125"><i class="fa fa-folder-open-o"></i> Portfolio</a></li>
        <li class="foot-li"><a href="https://github.com/joshhwang1125"><i class="fa fa-github"></i> Github</a></li>
        <li class="foot-li"><a href="https://www.linkedin.com/in/joshua-hwang-863a948a"><i class="fa fa-linkedin"></i> Linkedin</a></li>
      </ul>
    </div>
